h1{
    color: blueviolet;
    font-family:cursive;
    font-size:100px;
}
img:hover{
    background-color:gainsboro;

}
.bacon{
    background-color:green;
    width:120px;
    height:120px;
}
.chicken{
    background-color:yellow;
}